.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
  z-index: 1;
}

.n-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-list {
  border-radius: 20rem;
  margin-left: 7rem;
  margin-right: -5rem;
  flex: 5;
}

.n-list>ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.n-list>ul>li:hover {
  background: var(--tea);
  color: var(--tea);
}

.n-button {
  height: 2rem;
  flex: 2;
  margin-top: 0.5rem;
  padding: 11px 26px 11px 26px;
  font-size: 16px;
  margin-left: 3.5rem;
}



@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }

  .n-button {
    display: none;
  }
}